
<h1>Team Name: <%= @team[:name] %></h1>

<h3>Team Motto: <%= @team[:motto] %></h3>

<h4> Heroes: </h4>
<br>
<h5>Hero Name: <%= @heroes[0][:name] %></h3>
<h5>Hero Power: <%= @heroes[0][:power] %></h3>
<h5>Hero Biography: <%= @heroes[0][:biography] %></h3>
<br>
<h5>Hero Name: <%= @heroes[1][:name] %></h3>
<h5>Hero Power: <%= @heroes[1][:power] %></h3>
<h5>Hero Biography: <%= @heroes[1][:biography] %></h3>
<br>
<h5>Hero Name: <%= @heroes[2][:name] %></h3>
<h5>Hero Power: <%= @heroes[2][:power] %></h3>
<h5>Hero Biography: <%= @heroes[2][:biography] %></h3>
<br>
